*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .2s;
}

html{
    scroll-behavior: smooth;
}

/**************** root ************/
:root{
    --DarkBlue : #2d314d;
    --LimeGreen: #31d35c;
    --BrightCyan: #2bb7da;
    --GrayishBlue: #9698a6;
    --LightGrayishBlue: #f3f4f6;
    --VeryLightGray: #fafafa;
    --myDarkWight: #dbdbdb;
}





/********************** the same elements ***************/
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
    padding: 10px 20px;
}
button:active{
    scale: .9;
}
button:hover{
    cursor: pointer;
    opacity: .6;
}








/****************** body ***************/
body{
    font-family: sans-serif;
    min-height: 100vh;
}




/******************** hedeer ********************/

/***** nave *****/
.navBar{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 999;
}
nav{
    max-width: 900px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 60px;
    border-bottom: 2px solid transparent;
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    display: block;
    padding: 8px 10px;
    margin: 5px 10px;
    text-transform: capitalize;
    color: var(--GrayishBlue);
    font-size: 14px;
    border-bottom: 3px solid transparent;
}
/* nav ul a:hover{
    border-image: linear-gradient(to right, var(--LimeGreen), var(--BrightCyan)) 1 ;
} */

nav button,.background button{
    border-radius:15px ;
    background-image:linear-gradient(to right,var(--LimeGreen), var(--BrightCyan) );
    color: white;
    text-transform: capitalize;
}

nav .icon{
    padding: 10px;
    display: none;
    border-radius: 10px;
}
.icon-hamburger:hover,.background button:hover{
    background-color: var(--LightGrayishBlue);
    cursor: pointer;
}




/***********************  homeSection *******************/
.background{
    height: 100vh;
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

}
/* text */
.background .text{
    align-self: center;
    width: 350px;
    margin-left: 70px;

}
.background .text h2{
    color: var(--DarkBlue);
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 1px;
}
.background .text p,#about .containerAbout .question p,.contCards .card p{
    color: #9698a6;
    font-size: 14px;
    letter-spacing:.2px;
    line-height: 22px;
    margin: 20px 0;
}

.background .image{
    background-image: url('./images/bg-intro-desktop.svg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 550px;
    overflow: hidden;
}
.background img{
    width: 100%;
    z-index: 0;  
}






/******************* aboutSection  ************************/
#about{
    height: 80vh;
    background-color: var(--LightGrayishBlue);
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#about .containerAbout{
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    justify-content: space-between;
    gap: 45px;
}
#about .containerAbout .question{
    max-width: 500px;
}
#about .containerAbout .question h2{
    font-size: 28px;
    font-weight: 100;
    color: var(--DarkBlue);
}
/* cards */
.contCards .card h3{
    font-weight: 100;
    color: var(--DarkBlue);
    margin: 20px 0;
    letter-spacing: .5px;
}
.contCards .card p{
    font-size: 12px;
}


.contCards{
    display: flex;
    gap: 8px;
}

.card{
    opacity: 0;
    transform: translateY(50px);
    scale: .8;
    transition: all 0.6s ease;
}
  
.showCard {
    scale: 1;
    opacity: 1;
    transform: translateY(0);
}






/********* animation ************/
.opacity0To1{
    animation: opacity0To1 1s both;
}
@keyframes opacity0To1{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}










/********************* responsive *********************/

/* navBar */
@media screen and (max-width:900px){
    nav{
        position: relative;
        padding: 10px 15px;
    }
    nav button{
        display: none;
    }
    nav ul{
       position: absolute;
       top: 80px;
       width: 90%;
       left: 50%;
       transform: translateX(-50%);
       flex-direction: column;
       background-color: white;
       border-radius: 10px;
       align-items: flex-start;
       padding: 10px;
       box-shadow: 0 0 100px var(--DarkBlue);

       opacity: 0;
       display: none;
    }
    nav ul a{
        padding: 10px;
        border: none;
    }
    nav .icon{
        display: block;
    }
}


/* homeSection */
@media screen and (max-width:992px){
    .background{
        flex-direction: column-reverse;
        justify-content:flex-end;
        gap: 30px;
    }
    .background .image{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 65%;
        background-position: bottom;
        background-image: url('./images/bg-intro-mobile.svg');
    }
    .background .image img{
        width: 560px;
        z-index: 0 !important;
        padding: 10px;
    }
    .background .text{
        margin-left: 0;
    }

    /*  */
    .background .text{
        width: 500px;
    }
    .background .text h2{
        text-align: center;
        font-size: 50px;
    }
    .background .text p{
        text-align: center;
    }
    .background button{
        margin: auto;
        display: block;
        padding: 15px 30px;
    }

}
@media screen and (max-width:600px){
    .background .image img{
        max-width: 550px;
    }
    .background .text{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }
    .background .text p{
        width: 400px;
        text-align: center;
    }
}
@media screen and (max-width:560px){
    .background .image img{
        width: 100%;
    }
    .background .text{
        margin: 0 5px ;
        max-width: 400px;
    }
    .background .text h2{
        font-size: 40px;
    }
    .background .text p{
        width: 100%;
    }
}
@media screen and (max-width:490px){
    .background .image img{
        transform: translateY(-20px);
    }
    .background .image{
        height: 50%;
    }
}
@media screen and (max-width:400px){
    .background .text{
        width: 100%;
    }
    .background .text p{
        width: 100%;
    }
}


/*************** about section **********/
@media screen and (max-width:992px){
    #about .containerAbout{
        align-items: center;
        padding: 20px;
    }
    #about .containerAbout .question{
        text-align: center;
    }
    .contCards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 90%;
        gap: 25px;
    }
    .contCards img{
        display: block;
        margin: auto;
    }
    .contCards h3,.contCards p{
        text-align: center;
    }
}
@media screen and (max-width:460px){
    #about{
        height: auto;
        padding-top:30px ;
    }
    .contCards{
        grid-template-columns: 1fr;
    }
}