*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .2s;
}

html{
    scroll-behavior: smooth;
}

/**************** root ************/
:root{
    --DarkBlue : hsl(233, 26%, 24%);
    --LimeGreen: hsl(136, 65%, 51%);
    --BrightCyan: hsl(192, 70%, 51%);
    --GrayishBlue: #9698a6;
    --LightGrayishBlue: hsl(220, 16%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
}





/********************** the same elements ***************/
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
    padding: 10px 20px;
}
button:active{
    scale: .9;
}
button:hover{
    cursor: pointer;
    opacity: .6;
}








/****************** body ***************/
body{
    font-family: sans-serif;
}




/******************** hedeer ********************/

/***** nave *****/
nav{
    max-width: 900px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 60px;
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    display: block;
    padding: 8px 10px;
    margin: 5px 10px;
    text-transform: capitalize;
    color: var(--GrayishBlue);
    font-size: 14px;
    border-bottom: 3px solid transparent;
}
nav ul a:hover{
    border-image: linear-gradient(to right, var(--LimeGreen), var(--BrightCyan)) 1;
}

nav button{
    border-radius:15px ;
    background-image:linear-gradient(to right,var(--LimeGreen), var(--BrightCyan) );
    color: white;
    text-transform: capitalize;
}

nav .icon{
    padding: 10px;
    display: none;
    border-radius: 10px;
}
.icon-hamburger:hover{
    background-color: var(--LightGrayishBlue);
    cursor: pointer;
}















/********************* responsive *********************/
@media screen and (max-width:900px){
    nav{
        position: relative;
        padding: 10px 15px;
    }
    nav button{
        display: none;
    }
    nav ul{
       position: absolute;
       top: 100px;
       width: 85%;
       left: 50%;
       transform: translateX(-50%);
       flex-direction: column;
       background-color: black;
       border-radius: 15px;
       align-items: flex-start;
       padding: 10px;

       opacity: 0;
       display: none;
    }
    nav ul a{
        padding: 10px;
        border: none;
    }
    nav .icon{
        display: block;
    }
}



/********* animation ************/
.opacity0To1{
    animation: opacity0To1 1s both;
}
@keyframes opacity0To1{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}